<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">Mentiby Maps</h2>
    <nav class="nav-links">
      <!-- Navigation links -->
      <a (click)="toogletohome()">Home</a>
      <div class="dropdown">
        <a class="dropdown-button" (click)="toggleMapsDropdown($event)" [class.active]="isMapsDropdownOpen">Maps <span>&#9662;</span></a>
        <div class="dropdown-content" [class.show]="isMapsDropdownOpen">
          <a (click)="toggletoMap()">Maps</a>
          <a (click)="toggletoGoogleMap()">Google Maps</a>
        </div>
      </div>
      <a href="#">Analytics</a>
      <a (click)="toggletoSettings()" [class.active]="router.url === '/dashboard/settings'">Settings</a>
      <a href="#">Help</a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <header class="header">
      <h1>Welcome to Mentiby Maps</h1>
      <div class="user-info">
        <span>User: {{currentUserName}}</span>
        <button (click)="loggout()" class="logout-button">Logout</button>
      </div>
    </header>
    <section class="dashboard-body">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
